aeidon==1.9
alabaster==0.7.8
asciitree==0.3.3
attrs==20.3.0
Automat==20.2.0
Babel==2.8.0
bcrypt==3.1.7
beautifulsoup4==4.9.3
blosc==1.9.2
Bottleneck==1.2.1
certifi==2020.6.20
cftime==1.4.1
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.4
constantly==15.1.0
cryptography==3.3.2
cupshelpers
cycler==0.10.0
dask==2021.1.0+dfsg
dblatex==0.3.12
dbus-python==1.2.16
decorator==4.4.2
defusedxml==0.6.0
deluge==2.0.3
devscripts==2.21.3+deb11u1
diff-match-patch==20200713
distro==1.5.0
distro-info==1.0
dnspython==2.0.0
docutils==0.16
et-xmlfile==1.0.1
fail2ban==0.11.2
fasteners==0.14.1
fsspec==0.8.4
fuse-python==1.0.2
GeoIP==1.3.2
gpg===1.14.0-unknown
h5netcdf==0.8.1
h5py==2.10.0
h5py.-debian-h5py-serial==2.10.0
html5lib==1.1
hyperlink==19.0.0
idna==2.10
imagesize==1.2.0
importlib-metadata==1.6.0
incremental==17.5.0
iniconfig==0.0.0
iniparse==0.4
jdcal==1.0
Jinja2==2.11.3
kiwisolver==1.3.1
llvmlite==0.35.0
locket==0.2.0
lxml==4.6.3
Mako==1.1.3
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.3.4
monotonic==1.5
more-itertools==4.2.0
msgpack==1.0.0
netCDF4==1.5.5.1
numba==0.52.0
numcodecs==0.0.0
numexpr==2.7.2
numpy==1.19.5
numpydoc==1.1.0
odfpy==1.4.1
olefile==0.46
openpyxl==3.0.3
packaging==20.9
pandas==1.1.5
partd==1.0.0
phply==1.2.5
Pillow==8.1.2
pluggy==0.13.0
ply==3.11
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycairo==1.16.2
pycountry==20.7.3
pycups==2.0.1
pycurl==7.43.0.6
pyenchant==3.2.0
pygame==1.9.6
Pygments==2.7.1
PyGObject==3.38.0
PyHamcrest==1.9.0
pyinotify==0.9.6
pylibacl==0.6.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
pyshp==2.1.3
pysmbc==1.0.23
pytest==6.0.2
python-apt==2.2.1
python-dateutil==2.8.1
python-debian==0.1.39
python-Levenshtein==0.12.2
python-libtorrent==1.2.9
python-magic==0.4.20
pytz==2021.1
pyxattr==0.7.2
pyxdg==0.27
PyYAML==5.3.1
pyzmq==20.0.0
rencode==1.0.6
requests==2.25.1
requests-toolbelt==0.9.1
roman==2.0.0
rpl==1.8.0
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
scipy==1.6.0
service-identity==18.1.0
setproctitle==1.2.1
Shapely==1.7.1
simplejson==3.17.2
six==1.16.0
snowballstemmer==2.1.0
soupsieve==2.2.1
Sphinx==3.4.3
sphinx-rtd-theme==0.5.1
systemd-python==234
tables==3.6.1
toml==0.10.1
toolz==0.9.0
tornado==6.1
translate-toolkit==3.3.2
Twisted==20.3.0
unattended-upgrades==0.1
unidiff==0.5.5
urllib3==1.26.5
vobject==0.9.6.1
webencodings==0.5.1
xarray==0.16.1
xdg==5
xlwt==1.3.0
youtube-dl==2021.6.6
zarr==0.0.0
zipp==1.0.0
zope.interface==5.2.0
